<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>
<body>
{% if request.user.is_authenticated %}
    <p>{{ request.user.username }} 您已登入{{ request.user.last_login}}</p>
    <h1>{{ request.user.email }}</h1>


{% else %}
    <p>您尚未登入哦~<a href="{% url 'user:login' %}">登入</a></p>
{% endif %}
</div>
 <ul>

       <li> {{ order.order_id}}</li>
       <li> {{ order.buyer_name}}</li>
       <li> {{ order.seller_name}}</li>
       <li> {{ order.rec_name}}</li>
       <li> {{ order.address}}</li>
       <li> {{ order.tel}}</li>
       <li> {{ order.email}}</li>
       <li> {{ order.order_time}}</li>
       <li> {{ order.cost}}</li>
       <li> {{ order.send}}</li>
       <li> {{ order.state}}</li>


    </ul>
</body>
</html>