<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>BUPTFISH - Second-hand trading platform</title>
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/fancybox/jquery.fancybox.css' %}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/-->
</head>
<body>

<header class="header black-bg">
    <!-- <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div> -->
    <!--logo start-->
    <a href="{% url 'user:index' %}" class="logo"><b>BUPT<span>FISH</span></b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">

        </ul>
        <!--  notification end -->
    </div>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            {% if request.user.is_authenticated %}
                <li><a class="logout" href="{% url 'user:logout' %}">Logout</a></li>
            {% else %}
                <li><a class="logout" href="{% url 'user:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</header>

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="{% url 'user:userinfo' %}"><img src={{ request.user.avatar }} class="img-circle" width="80">
            </p>
            <h5 class="centered">{{ request.user.username }}</h5>

            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <span><a href="{% url 'user:index' %}"><h5>用户主页</h5></a></span>
                    <span><a href="{% url 'user:search_goods' %}"><h5>搜索</h5></a></span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

<section id="main-content">
<section class="wrapper site-min-height">


<script>
                    window.onload = function (){
                        containCollect();
                        containShopCart();
                    }
                    function containShopCart(){
                        $.ajax({
                            url:'/user/containShopCart/',
                            data :{
                                "goodsId": "{{ goods.goods_id }}",
                                "userName": "{{ request.user.username }}",
                            },
                            type : 'POST',
                            async: 'false',
                            success : function (data){
                                data = JSON.parse(data);
                                if(data["msg"] == "True"){
                                    $("#addshopcart").attr("disabled","true");
                                }
                            }
                        });
                    }
                    function containCollect(){
                        $.ajax({
                            url:'/user/containCollect/',
                            data :{
                                "goodsId": "{{ goods.goods_id }}",
                                "userName": "{{ request.user.username }}",
                            },
                            type : 'POST',
                            async: 'false',
                            success : function (data){
                                data = JSON.parse(data);
                                if(data["msg"]== "True" ){
                                    $("#addcollect").attr("disabled","true");
                                }
                            }
                        });
                    }
                    function addShopCart(){
                        $.ajax({
                            url : '/user/addShopCart/',
                            data :{
                                "goodsId": "{{ goods.goods_id }}",
                                "userName": "{{ request.user.username }}",
                            },
                            type : 'POST',
                            async : 'false',
                            success : function (data){
                                data = JSON.parse(data);
                                containShopCart();
                                alert(data["msg"]);
                            },
                            error : function (data){
                                console.log(data);
                            }
                        });
                        window.location.href="/user/item/{{ goods.goods_id }}";
                    };
                    function addCollect(){
                        $.ajax({
                            url : '/user/addCollect/',
                            type : 'post',
                            dataType : "json",
                            async : 'false',
                            data :{
                                "goodsId": "{{ goods.goods_id }}",
                                "userName": "{{ request.user.username }}",
                            },
                            success : function (data){
                                alert(data["msg"]);
                            },
                            error : function (data){
                                alert(data["msg"]);
                            }
                        });
                        window.location.href="/user/item/{{ goods.goods_id }}";
                    }
                </script>


        <div class="row content-panel">
            <div class="col-md-4 profile-text mt mb centered">
                <div class="right-divider hidden-sm hidden-xs">
                     <div class="photo">
                                <a class="fancybox" href={{ photo_path }} target="_blank">
                                    <img class="img-responsive" src="{{ goods.picture }}" alt=""></a>
                        <p></p>
                         <div class="btn-group btn-group-justified">
                <div class="btn-group">
                  <button type="button" onclick="addCollect()" id="addcollect" class="btn btn-default">加入收藏夹</button>
                </div>
                <div class="btn-group">
                  <button type="button" onclick="addShopCart()" id="addshopcart" class="btn btn-default">加入购物车</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-theme">立即购买</button>
                </div>
              </div>
                     </div>
                </div>


            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 profile-text">
                <h3>商品名 : {{ goods.goods_name }}</h3>
                <h6>Main Administrator</h6>
                <h3 style="color:#64f1b9">价格：{{ goods.price }}</h3>
                <br>
                <h5>分类：{{goodsClassName }} </h5>
                <h5 >数量:{{goods.goods_num }}</h5>
                <h5>
                    产品描述：{{ goods.description }}
                </h5>

                </p>
            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 centered">
                <div class="profile-pic">
                    <p><img src="{{ request.user.avatar }}" class="img-circle"></p>
                    <h3>{{ request.user.username }} </h3>
                    <h6>上次登陆时间:{{ request.user.last_login }}</h6>
                    <p>
                        <button class="btn btn-theme">私聊</button>
                    </p>

            </div>
            <!-- /col-md-4 -->
        </div>
        </div>
</section>
 </div>
</section>
</section>

<footer class="site-footer">
    <div class="text-center">
        <p>
            &copy; Welcome to <strong>BUPTFISH</strong>
        </p>
    </div>
</footer>

<script rel="stylesheet" src="/static/js/html5shiv.min.js"></script>
<script rel="stylesheet" src="/static/js/vue.js"></script>
<script rel="stylesheet" src="/static/js/jquery-1.11.1.js"></script>
<script rel="stylesheet" src="/static/js/login.js"></script>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
 <script rel="stylesheet" src="/static/js/jquery.backstretch.min.js"></script>
  <script>

</script>

</body>
</html>