<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>BUPTFISH - Second-hand trading platform</title>
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!-- Bootstrap core CSS -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">    <!--external css-->
    {#    <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>#}
    <link href="{% static 'lib/fancybox/jquery.fancybox.css' %}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>


</head>

<body>
{#  <section id="container">#}
<!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
<!--header start-->
<header class="header black-bg">
    <!-- <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div> -->
    <!--logo start-->
    <a href="{% url 'user:index' %}" class="logo"><b>BUPT<span>FISH</span></b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">

        </ul>
        <!--  notification end -->
    </div>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            {% if request.user.is_authenticated %}
                <li><a class="logout" href="{% url 'user:logout' %}">Logout</a></li>
            {% else %}
                <li><a class="logout" href="{% url 'user:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</header>
<section id="container">
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            {% if request.user.is_authenticated %}
            <p class="centered"><a href="{% url 'user:userinfo' %}"><img src={{ request.user.avatar }} class="img-circle" width="80" height="80"></a>
                    {% else %}
                <p class="centered">
                <a href="#"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" class="img-circle"
                                 width="80"></a>
            {% endif %}
            </p>
            <h5 class="centered">{{ request.user.username }}</h5>

            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <span><a href="{% url 'user:index' %}"><h5>用户主页</h5></a></span>
                    <span><a href="{% url 'user:search_goods' %}"><h5>搜索</h5></a></span>
                    <span><a href="{% url 'user:shopping_cart' %}"><h5>购物车</h5></a></span>
                    <span><a href="{% url 'user:collect' %}"><h5>收藏夹</h5></a></span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

<!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->


<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row content-panel">
            <div class="col-md-4 profile-text mt mb centered">
                <div class="right-divider hidden-sm hidden-xs">
                    <h4>已出售{{ s_count }}件商品</h4>
                    <h6>TOTAL SALE</h6>
                    <h4>以获得${{ income }}收入</h4>
                    <h6>SALES REVENUE</h6>
                </div>
            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 profile-text">
                <h2>用户简介</h2>
                <h3>用户姓名：{{ user.username}}</h3>
                <h6>Main Administrator</h6>
                <h4>个人描述：</h4>
                <p>{{ user.user_des}}</p>
                <br>

            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 centered">
                <div class="profile-pic">
                    <input type="file" accept="image/*" style="display: none" id="change_avatar">
                    {% if request.user.is_authenticated %}
                        <p class="centered"><a href="/user/userinfo/"><img src={{ user.avatar }} class="img-circle"
                                                             width="80"></a>
                            {% else %}
                        <p class="centered">
                        <a href="#"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image"
                                         class="img-circle" width="80"></a>
                    {% endif %}
                    <p>

                        <a class="btn btn-theme03" href="/user/online_comm/{{ request.user.username }}/{{user.username }}">发送私信</a>

                    </p>
                </div>
            </div>
            <!-- /col-md-4 -->
            <script>
                function changeavatar() {
                    console.log("here");
                    $("#change_avatar").click();
                }

                $("#change_avatar").change(function () {
                    console.log("here");
                    var file = $(this)[0].files[0];
                    var reader = new FileReader();
                    console.log(file);
                });
            </script>
        </div>
        <div class="panel-heading">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a data-toggle="tab" href="#sell" id="history_sell">历史卖出</a>
                </li>
                 <li>
                    <a data-toggle="tab" href="#unsold" class="contact-map" id="not_in_order">闲置物品</a>
                </li>
            </ul>
        </div>

             <div class="tab-content">
             <div id="sell" class="tab-pane active">
                <div class="row mt" id="goodslistsell">
                    {% for goods in s_orderlist %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                            <div class="project">
                                <div class="photo-wrapper">
                                    <div class="photo">
                                        <a class="fancybox" href={{ goods.picture }} target="_blank">
                                            <img class="img-responsive" src={{ goods.picture }} alt=""></a>
                                    </div>
                                </div>
                                <h5>商品名称：{{ goods.order.goods_name }}</h5>
                                <h5>成交价格：{{ goods.order.goods_cost }}</h5>
                                <h5>商品原价：{{ goods.order.goods_price}}</h5>
                            </div>

                        </div>
                    {% endfor %}
                    </div>
                </div>
            <div id="unsold" class="tab-pane">
                <div class="row mt" id="goodslistnotin">
                    {% for goods in not_in %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo">
                                            <a class="fancybox" href={{ goods.picture }} target="_blank">
                                                <img class="img-responsive" src={{ goods.picture }} alt=""></a>
                                        </div>
                                    </div>
                                    <h5>商品名称：{{ goods.goods_name}}</h5>
                                    <h5>目前价格：{{ goods.price }}</h5>
                                    <h5>商品评价：{{ goods.description }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>

</div>

    </section>
    <!-- /wrapper -->
</section>
<!--main content end-->
</section>
<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        <p>
            &copy; Welcome to <strong>BUPTFISH</strong>
        </p>
    </div>
</footer>
<!--footer end-->

<!-- js placed at the end of the document so the pages load faster -->
{#<script src="{% static 'lib/fancybox/jquery.fancybox.js' %}"></script>#}
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>
<script type="text/javascript">
</script>
<script>
            function changeavatar() {
                console.log("here");
                $("#change_avatar").click();
            }
            $("#change_avatar").change(function (){
                console.log("here");
                var file = $(this)[0].files[0];
                var reader  = new FileReader();
                console.log(file);
            });
        </script>
</body>
</html>
